<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.pro.mapper.ProMapper">

    <select id="userLogin" parameterType="kr.pro.entity.Member" resultType="kr.pro.entity.Member">
        select * from u_info where u_id=#{u_id} and u_pw=#{u_pw}
    </select>
    
    <insert id ="userJoin" parameterType="kr.pro.entity.Member">
        insert into u_info(u_id,u_pw,u_nick,u_pnum)
		values(#{u_id},#{u_pw},#{u_nick},#{u_pnum})
    </insert>
    
    <update id = "updateMember" parameterType="kr.pro.entity.Member">
        update u_info set u_num = #{u_num}
        where u_id=#{u_id}
    </update>
    
    <select id="pwcheck" parameterType="kr.pro.entity.Member" resultType="kr.pro.entity.Member">
        select * from u_info where u_pw=#{u_pw}
    </select>
    
    <insert id="product" parameterType="kr.pro.entity.Product">
        insert into p_info (u_num,p_name,p_grade,p_price,p_kind,p_weight,p_sweet,p_pack,p_data,p_option)
        values (#{u_num},#{p_name},#{p_grade},#{p_price},#{p_kind},#{p_weight}
        ,#{p_sweet},#{p_pack},#{p_data},#{p_option})
    </insert>
    
    <insert id="productimg" parameterType="kr.pro.entity.Productimage">
        insert into i_info (i_num,p_name,i_raw,i_path,i_save)
        values (i_info_i_num.nextval,#{p_name},#{i_raw},#{i_path},#{i_save})
	</insert>
</mapper>